html, body {
  height:100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  
}

.content {
  flex: 1 0 auto;
  background-color:#EEF8E9
  ;
}
  .header-container {
    align-items:flex-start;
    background-color:rgb(95, 143, 175);
  }

  .header-text { 
    background-color:#ABB9A5;
    font-family: 'Mina', sans-serif;
    color: #EEF8E9;

  }
  .top-profile-cont {
    background-color:#ABB9A5;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    
  }
 
  .project-header {
    font-family: 'Mina', sans-serif;
    font-size:65px;
    color:#EEF8E9 ;
    background-color:rgb(71, 114, 84);
    margin-top:30px;
    display:flex;
    align-self: Flex-end;
    justify-content:center;
    height: 100px;
    width: 800px;
    border-radius: 50px;
  }

  .profile-cont {
    height:200px;
    width:400px;
    border-radius: 25px;
    background-color: #EEF8E9;
    display:flex;
    justify-content:center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 10px;
  }

  .profile-pic {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    justify-content:center;
  }
.bulkinfo {
  background-color:#EEF8E9;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}



  .skills {
    height:400px;
    width:400px;
    border-radius: 25px;
    font-family: 'Mina', sans-serif;
    font-size:25px;
      color: #EEF8E9;
      background-color:rgb(71, 114, 84);
      justify-content:center;
  }
  #colors {
    height:200px;
    width:200px;
    
    font-family: 'Mina', sans-serif;
    font-size:20px;
  }
  .toggle-container {
    height:300px;
    width: 300px;
    border-radius: 50%;
    background-color:rgb(71, 114, 84);
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .GitHub-Repos {
    display:flex;
    justify-content:center;
    height: 400px;
      width: 800px;
      border-radius: 25px;
      background-color:rgb(71, 114, 84);
      font-family: 'Mina', sans-serif;
      font-size: 45px;
      
  }

  .repobutton {
    height:50px;
    width:800px;
    font-family: 'Mina', sans-serif;
    font-size:20px;
  }

  .GitHub-Repos a:link {
   color:limegreen;
      
  }


.repositories {
  font-family: 'Mina', sans-serif;
}

.button-cont {
  display:flex;
  justify-content:space-between;
}

.sm-buttons {
  background-color:rgb(95, 143, 175);
  width:400px;
  border-radius: 25px;
  display:flex;
  justify-content:center;
}

  .fa {
    padding:10px;
    width: 24px;
    height:24px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    align-items:center;
}

.fachange {
  padding:10px;
  transform:scale(1.5);
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
   align-items:center;
}


.fa-facebook {
  background: #3B5998;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.fa-instagram {
  background: linear-gradient(to bottom right, red, purple);
  color:white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.fa-linkedin {
background: #0077B5;
color: white;
border-style: solid;
border-width: 2px;
border-color: black;

}
.fa-github {
  background:white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  
  }



.footer-container {
  display:flex;
  align-items:flex-start;
  background-color:rgb(71, 114, 84)
}

.footer-text {
color:white;
background-color:rgb(71, 114, 84);
font-family: 'Mina', sans-serif;
flex-shrink:0;
    
    
  }

  a.footer-text {
    color:white;
    font-family: 'Mina', sans-serif;
  }